In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
df = pd.read_csv('./yellow_tripdata_2023-01.csv', nrows=100)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:Vietnam#1@localhost:5432/LOCAL')

In [6]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxidata_2023-01'))

CREATE TABLE "yellow_taxidata_2023-01" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
pd.to_datetime(df.tpep_pickup_datetime)

0    2023-01-01 00:32:10
1    2023-01-01 00:55:08
2    2023-01-01 00:25:04
3    2023-01-01 00:03:48
4    2023-01-01 00:10:29
             ...
95   2023-01-01 00:20:38
96   2023-01-01 00:09:16
97   2023-01-01 00:46:56
98   2023-01-01 00:10:50
99   2023-01-01 00:27:35
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [11]:
df_iter = pd.read_csv('./yellow_tripdata_2023-01.csv', iterator=True, chunksize=100000)

In [12]:
df = next(df_iter)

C:\Users\Hoi Phung\AppData\Local\Temp\ipykernel_24464\4178490087.py:1: DtypeWarning: Columns (0,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

In [13]:
len(df)

100000

In [16]:
df.to_sql(name = 'yellow_taxidata_2023-01', con=engine, if_exists='replace')

1000

In [15]:
%time df.head(n=0).to_sql(name = 'yellow_taxidata_2023-01', con=engine, if_exists='append')

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []